@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@500&family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url("https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css");

* {font-family: ‘SUIT’, sans-serif;}
::selection {
  background-color: rgb(255, 230, 253);
}
body {
  font-family: ‘SUIT’, sans-serif;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  margin: 0;
}
.drag {
  -webkit-user-select:text;
  -moz-user-select:text;
  -ms-user-select:text;
  user-select:text
}
.header {
}
.button4{
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: relative;
  padding: 10px 17px;
  transition: 0.3s;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  align-items:center;
}
button.button4:hover {
  background-color: rgba(217, 217, 217, 0.15);
}
div.main {
  height: 80vh;
  width: 100%;
  margin: 0;
  background-color: rgb(31, 27, 34);
  position: relative;
}
div.mainc {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.sec {
  height: 100vh;
}
::-webkit-scrollbar {
   display: none; 
}
a {
  text-decoration-line: none;
  color: inherit;
}
.title {
  display: inline-block;
  font-family: ‘SUIT’, sans-serif;
  font-weight: 700;
  background: linear-gradient(to right, rgb(255, 105, 199) 0%,
  rgb(255, 247, 253) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
}
.subtitle {
  display: block;
  font-family: ‘SUIT’, sans-serif;
  font-weight: 900;
  margin-top: -5%;
  color: rgb(117, 117, 117);
  font-size: 20px;
}
.text {
  font-family: ‘SUIT’, sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #000;
  text-align: center;
}
h2.text{
  font-family: ‘SUIT’, sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: #fff;
}
.text2 {
  font-family: ‘SUIT’, sans-serif;
  font-weight: 900;
  font-size: 17px;
  color: #fff;
}
.text3 {
  font-family: ‘SUIT’, sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #ffffff;
  text-align: center;
}
button.button {
  background-color: rgb(255, 163, 220);
  border: none;
  position: relative;
  padding: 5px 15px;
  transition: 0.3s;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  align-items:center;
}
button.button:hover {
  background-color: rgb(255, 128, 181);
}
button.button3 {
  background-color: rgb(255, 163, 220);
  border: none;
  position: relative;
  padding: 7px 12px;
  transition: 0.3s;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items:center;
}
.material-symbols-outlined {
   font-variation-settings:
           'FILL' 0,
           'wght' 400,
           'GRAD' 200,
           'opsz' 48
}
ul {
  margin-right: 7%;
}
button.button3:hover {
  background-color: rgb(255, 128, 181);
}
button.button2 {
  background-color: rgb(70, 70, 70);
  border: none;
  position: relative;
  padding: 5px 15px;
  transition: 0.3s;
  border-radius: 10px;
  margin-left: 0.3%;
  outline: none;
  cursor: pointer;
  align-items:center;
}
button.button2:hover {
  background-color: rgb(141, 141, 141);
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

.page {
  margin: 0 auto;
}
icon {
  font-size: 36px;
}
header {
  position: fixed ;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 7px;
  padding: 1.7rem;
  color: white;
  background-color: rgba( 255, 255, 255, 0);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ht {
  padding-top: 2rem;
}

header > nav {
  width:340px;
  height:100%;
}

header ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

header ul > li {
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media (max-width: 700px) {
  .title{
    position: relative;
    text-align: center;
    margin-left: 0%;
    top: 220px;
    font-family: ‘SUIT’, sans-serif;
    font-weight: 700;
    color: #000000;
    font-size: 40px;
  }
  .subtitle {
    position: relative;
    text-align: center;
    margin-left: 0%;
    margin-top: -6%;
    top: 220px;
  }
  button.button{
    display: block;
    top: 220px;
    margin: auto;
  }
  button.button2{
    display: block;
    top: 230px;
    margin: auto;
  }
}
